*{
 margin: 0;
 padding: 0; 
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:   hsl(217, 100%, 97%);
}

.App .countainer{
  display: flex;
  width: 60rem;
  height: 36rem;
  padding: 1.5rem;
  gap: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}


/* Sidebar */


.sidebar{
  background-image: url(./Assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 1;
  padding: 2rem;
  border: 1px solid red;
  border-radius: 20px;
}

.bg{
  background-color: red;
}


/* content */

.content{
  flex: 3;
  border: 1px solid red;
  border-radius: 20px;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem 6.5rem 1rem 5rem;
  box-sizing: border-box;
}

.navigation{
  display: flex;
  justify-content: space-between;
}

/* title */

.title{
  font-size: 2rem;
  color: hsl(213, 96%, 18%);
}

/* subtext */

.subtext{
  opacity: 0.7;
}


/* input */

input{
  width: 100%;
  height: 2rem;
  border-radius: 20px;
}


/* bottom button */

.navigation :first-child{
  background-color: transparent;
  border: none;
  opacity: 0;
}

.navigation :last-child{
  background-color: hsl(213, 96%, 18%);
  color: white;
  height: 3rem;
  width: 7rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
}

.navigation :last-child:active{
 background-color: red;
}

/* steps */

.steps{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.8rem;
}


.steps h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.steps p{
  color: white;
  font-size: 0.9rem;
}

.steps p:first-child{
  opacity: 0.7;
  font-size: 0.8rem;
}